.ProductDescription {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    width: 100vh;
    text-align: justify;
}

.ProductDescription h2 {
    color: #333;
    font-weight: bolder;
    font-size: 24px;
    margin-bottom: 10px;
}

.ProductDescription p {
    color: #666;
    font-size: 16px;
    margin-bottom: 15px;
}

.ProductDescription .ProductDetails {
    margin-bottom: 20px;
}

.ProductDescription .ProductDetails h3 {
    color: #333;
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.ProductDescription .ProductDetails ul {
    list-style-type: none;
    padding: 0;
}

.ProductDescription .ProductDetails li {
    color: #666;
    font-size: 16px;
    margin-bottom: 5px;
}

.ProductDescription .AddToCartButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.ProductDescription .AddToCartButton:hover {
    background-color: #0056b3;
    font-weight: bolder;
    transition: all .5s;
}

.ProductEnd {
    display: flex;
    justify-content: space-between;
}

.ProductBtn p {
    color: #666;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 15px;
}