.ProductPage {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width:max-content;
    margin: auto;
    padding: 20px;
    height: 66vh; /* Define a altura da página como 100% da altura da viewport */
}


.itemPage {
    height: 100vh; /* Define a altura da página como 100% da altura da viewport */
    width: 100vw; /* Define a largura da página como 100% da largura da viewport */
}
