/* styles.css */

.header {
    background-color: #0070E9ff;
    position: relative;
    display: flex;
    justify-content: space-between; /* Distribui os elementos igualmente ao longo do eixo principal (horizontalmente) */
    align-items: center; /* Centraliza os elementos verticalmente */
    padding: 16px;
    color: #FDFEFFff;
    letter-spacing: 1px;
}

.logo {
    margin-right: 20px; /* Adicionando um espaçamento à direita para separar do próximo elemento */
}

.SearchDiv {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Adicionando um espaçamento à direita para separar do próximo elemento */
}

.SearchInput{
    margin-left: 30vh;
    border: 1px solid black;
    border-radius: 20px;
    padding: 8px 16px;
}

.cart {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Adicionando um espaçamento à direita para separar do próximo elemento */
}

.cartPrice {
    margin: 10px;
}

.Profile {
    margin-left: 20px; /* Adicionando um espaçamento à esquerda para separar do próximo elemento */
    margin-right: 20px
}
