.carousel {
    width: 100%;
    height: 40vh; /* Defina a altura do contêiner como 50% da altura da tela */
    overflow: hidden; /* Para garantir que as imagens não ultrapassem o contêiner */
    object-fit: cover;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease; /* Adicione uma transição suave para animar a mudança de slides */
}

.carousel-slide {
    flex: 0 0 auto; /* Para manter o tamanho original das imagens */
    width: 100%; /* Para garantir que as imagens ocupem todo o espaço disponível */
}

.carousel-slide img {
    width: 100%; /* As imagens ocupam toda a largura do slide */
    height: 40vh; /* As imagens ocupam toda a altura do slide */
    object-fit: cover; /* Para garantir que as imagens mantenham sua proporção e preencham o espaço do slide */
    object-position: center;
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}
